@font-face
{
    font-family: 'NimbusSanL-Reg';
    font-weight: normal;
    font-style: normal;
    src: url('../landpage/nimbus-sans-l/NimbusSanL-Reg.otf');
}

@font-face {
    font-family: 'Mytupi';
    src: url('../landpage/Mytupi-FontZillion/Fonts/mytupibold.ttf');
}
.client{
    text-align: center;
    margin-top: 70px;
}
.client-tagline{
    font-family: "NimbusSanL-Reg";
    color: #fe3146;
    font-size: 21px;
    margin-bottom: 30px;
}

.client-heading{
    font-family: "Mytupi";
    font-size: 39px;
}
.client-container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 37%;

}

.client-text{
    font-family: poppins;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.client-container img{
    width: 40px;
}

#left-quote{
    /* margin-top: -30px; */
}