@font-face
{
    font-family: 'NimbusSanL-Reg';
    font-weight: normal;
    font-style: normal;
    src: url('../landpage/nimbus-sans-l/NimbusSanL-Reg.otf');
}

@font-face {
    font-family: 'Mytupi';
    src: url('../landpage/Mytupi-FontZillion/Fonts/mytupibold.ttf');
}
.coloring{
    width: 100%;
    background-color: #fafafa;
    padding: 20px 0;
}

.carouselPage{
    width: 74%;
    margin: 80px 0 70px 19%;
}

.carousel-tagline{
    font-family: "NimbusSanL-Reg";
    color: #fe3146;
    gap: 0;
    font-size: 20px;
}

.carousel-heading{
    font-family: "Mytupi";
    font-size: 20px;
    display: flex;
    align-items: center;
}


.carousel {
    padding-top: 20px;
    position: relative;
    max-width: 1200px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

/* .image-container{
    width: 25%;
    display: block;
    flex-shrink: 0;
} */
.image-container {
    position: relative;
    width: 25%; 
    display: block;
    flex-shrink: 0;
    overflow: hidden;
    /* width: calc(100% / 3); Assuming 3 items per page */
}


.carousel-image img{
    object-fit: contain;
    border-radius: 5px;
}

.carousel-dots {
    text-align: start;
    margin-top: 40px;
    width: 100%;
}

.carousel-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: #fe3146;
}

.hover-overlay{
    height: 100%;
    top: 0;
    right: -220%;
    position: absolute;
    background: #fe3146;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    color: white;
    text-align: center;
    
}

.hover-container{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container:hover .hover-overlay{
    right: 0;
    transition: all 0.5s;
}

.read-more{
    color: #fe3146;
    font-size: 14px;
    text-decoration: none;
    padding: 15px;
    background-color: white;
}